.message_container 
{
    width: 88%;
    height: 10%;
    background-color: rgba(114, 114, 114);
    border-radius: 20px;
    display: flex;
}

.delete_message 
{
    height: 45%;
    width: 6%;
    border-radius: 25px;
    margin-left: auto;
}
