.message_container 
{
    flex-shrink: 0;
    width: 88%;
    height: 4vw;
    background-color: rgba(114, 114, 114);
    border-radius: 20px;
    display: inline ;
}

.message_section 
{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow:auto ;
    border: 1px solid #ccc;
    height: 42vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.delete_message 
{
    margin-left: 95%;
    border-radius: 20px;
}