body
{
    background-color: rgb(46, 46, 46);
}

p 
{
    overflow: hidden;
    color: aliceblue;
    font-size: large;
}

.main 
{
    width: 35%;
    height: 46vw;
    background-color: rgb(78, 78, 78);
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vw;
    border-radius: 15px;
    border: 4px solid rgb(67, 67, 67);
}

.buttom_section 
{
    background-color: rgb(92, 92, 92);
    height: 4vw;
    border-radius: 15px;
    width: 100%;
}

.message_box 
{
   margin-top: 20px;
   margin-left: 20px;

   height: 2vw;
   width: 80%;
   
   background:fixed;
   border-radius: 15px;
   color: rgb(167, 167, 167);
   font-size: larger;
}

.send_message 
{
    background-image: url(../img/arrow-right-solid.png);
    height: 50px;
    width: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 100%;
    background-color: rgb(68, 68, 68);
    margin-left: 15px;
    line-height: 18px;
}

.info_section 
{
    
}

.message_section 
{
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    overflow:auto ;
    border: 1px solid #ccc;
    height: 42vw;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
}

.message_container 
{
    flex-shrink: 0;
    width: 88%;
    height: 4vw;
    background-color: rgba(114, 114, 114);
    border-radius: 20px;
    display: inline ;
}
